<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="forgotpasswordsubmit" method="POST">
            <div class="form-group">
                <label for="username">Enter the username for password reset</label>
                <input type="text" id="username" name="username" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
